# Universidad del Valle de Guatemala
### Security Data Science
* Juan Marroquin 19845
* Carlos Raxtum 19721

Import Libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn import feature_extraction, tree, model_selection, metrics
from sklearn.model_selection import train_test_split
import numpy as np
import re
import pandas_profiling
import unicodedata
import re
import contractions
%matplotlib inline

#### Load the datasets

In [2]:
df1 = pd.read_csv ('enronSpamSubset.csv')
#df1.rename({'Unnamed: 0': 'id'}, axis=1, inplace=True)
# drop columns 
df1.drop(['Unnamed: 0.1','Unnamed: 0'], axis = 1, inplace = True) 

df2 = pd.read_csv ('completeSpamAssassin.csv')
df2.drop(['Unnamed: 0'], axis = 1, inplace = True)

##### Show enronSpamSubset data

In [3]:
df1.head()

                                                Body  Label
0  Subject: stock promo mover : cwtd\n * * * urge...      1
1  Subject: are you listed in major search engine...      1
2  Subject: important information thu , 30 jun 20...      1
3  Subject: = ? utf - 8 ? q ? bask your life with...      1
4  Subject: " bidstogo " is places to go , things...      1

##### Show completeSpamAssassin data

In [4]:
df2.head()

                                                Body  Label
0  \nSave up to 70% on Life Insurance.\nWhy Spend...      1
1  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
2  1) Fight The Risk of Cancer!\nhttp://www.adcli...      1
3  ##############################################...      1
4  I thought you might like these:\n1) Slim Down ...      1

##### Merge both dataframes into one

In [5]:
df = pd.concat([df1,df2], axis=0)

##### Show first 5 rows

In [6]:
df.head()

                                                Body  Label
0  Subject: stock promo mover : cwtd\n * * * urge...      1
1  Subject: are you listed in major search engine...      1
2  Subject: important information thu , 30 jun 20...      1
3  Subject: = ? utf - 8 ? q ? bask your life with...      1
4  Subject: " bidstogo " is places to go , things...      1

#### Preprocessing the dataset

In [7]:
df = df.dropna()

In [8]:
def removerAcentos(text):
    text = unicodedata.normalize('NFKD', text).encode('ascii','ignore').decode('utf-8','ignore')
    return text

In [9]:
def removerCaracteresEspecialesNumerosSimbolos(text, remove_digits =False):
    patron = r'[^a-zA-Z0-9\s]' if not remove_digits else r'[^a-zA-Z\s]'
    text = re.sub(patron,'', text)
    return text

In [10]:
def remomveContractions(text):
    text = contractions.fix(text)
    return text

In [11]:
df['Body'] = df['Body'].str.lower()

In [14]:
df['Body'] = df['Body'].apply(removerCaracteresEspecialesNumerosSimbolos)
df['Body'] = df['Body'].apply(removerAcentos)
df['Body'] = df['Body'].apply(remomveContractions)
# falta lo de las stop words

In [15]:
df.head()

                                                Body  Label
0  subject stock promo mover  cwtd\n    urgent in...      1
1  subject are you listed in major search engines...      1
2  subject important information thu  30 jun 2005...      1
3  subject   utf  8  q  bask your life with  \n  ...      1
4  subject  bidstogo  is places to go  things to ...      1

#### Data representation

## Model Implementation

#### Create the train,test and validation
* train size 70%
* test size 30%

In [16]:
X = df.drop(columns = ['Label']).copy()
y = df['Label']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X,y, train_size=0.70,random_state=42)

#### Create NaiveBayes multinomial

* Matriz de confusi√≥n
* Precision
* Recall
* F1 Score